
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<div>
	<h2>Email</h2>
<img src="/Images/EmailImage.png" alt="Email" title="Email" width="150" height="150">
	
</div>
   

<div>


	<h3>Phone</h3>
	<img src="/Images/Phone Image.png" width="150" height="150"
	

</div>
    
   



