
@{
    ViewData["Title"] = "MyWork";
}

<h1>My Work</h1>
<p> KhumaloCraft is the foremost stockist of handcrafted goods.
    these good include:Hand made Wooden furniture, clay and porcelain pots and various other 
    locally sourced goods from various talented craftsmen
<div>

<h2>Artisan Wood Table: R3000<h2>
    
</p>
<img src="/Images/WoodTable2.webp" width="200" height="200">
<div>

    <div>   
<h3>Oak Dining room chair set: R4000 </h3>
<img src="/Images/WoodChairSet.jpg"/>

    </div

   <div>
<h4> Ceramic Clay Pots: R450</h4>
<img src="/Images/ClayPot1.jpg"/>

   </div>

   <div>
    
       <h5>Decorative Flower Pots: R300</h5>
       <img src="/Images/FlowerPot1.jpg"/>

   </div>

    